# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/MOMOPlugin/v15/Browse.VC.opendb
.vs/
.vs/MOMOPlugin/v15/ipch/AutoPCH/4d18c1ae9489cb29/MAIN.ipch
.vs/MOMOPlugin/v15/ipch/AutoPCH/4d18c1ae9489cb29/MAIN.ipch
*.ipch
.vs/MOMOPlugin/v15/Browse.VC.db
.vs/MOMOPlugin/v15/ipch/AutoPCH/67353a3718db17c9/MAIN.ipch
.vs/MOMOPlugin/v15/ipch/AutoPCH/4d18c1ae9489cb29/MAIN.ipch
.vs/MOMOPlugin/v15/Browse.VC.db
.vs/MOMOPlugin/v15/Solution.VC.db
.vs/MOMOPlugin/v15/ipch/AutoPCH/4d18c1ae9489cb29/MAIN.ipch
.vs/MOMOPlugin/v15/Browse.VC.db
.vs/MOMOPlugin/v15/.suo
Bin/x64-Debug/jpeg62.pdb
Bin/x64-Debug/libpng16d.pdb
Bin/x64-Debug/lzmad.pdb
Bin/x64-Debug/MOMOPlugin.exp
Bin/x64-Debug/MOMOPlugin.ilk
Bin/x64-Debug/MOMOPlugin.pdb
Bin/x64-Debug/opencv_cored.pdb
Bin/x64-Debug/opencv_highguid.pdb
Bin/x64-Debug/opencv_imgcodecsd.pdb
Bin/x64-Debug/opencv_imgprocd.pdb
Bin/x64-Debug/opencv_videod.pdb
Bin/x64-Debug/opencv_videoiod.pdb
Bin/x64-Debug/tiffd.pdb
Bin/x64-Debug/webpd.pdb
Bin/x64-Debug/zlibd.pdb
Bin/x64-Debug/MOMOPlugin.exp
Bin/x64-Debug/MOMOPlugin.ilk
Bin/x64-Debug/MOMOPlugin.pdb
MOMOPlugin/x64/Debug/vc141.pdb
MOMOPlugin/x64/Debug/vc141.idb
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/MOMOPlugin.write.1u.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/MOMOPlugin.lastbuildstate
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/link.read.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/link.command.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/link.5560.delete.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/link.4420.delete.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/link.12168.delete.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/link.10248.delete.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/CL.write.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/CL.read.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.tlog/CL.command.1.tlog
MOMOPlugin/x64/Debug/MOMOPlugin.log
MOMOPlugin/x64/Debug/MOMOPlugin.Build.CppClean.log
